<div id="whole">
    <section id="about">
        <div class="about-1">
            <h2><b>ABOUT US</b></h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, reprehenderit! Amet temporibus vitae magnam aspernatur eius numquam doloremque eos rem officiis, hic enim. Culpa aperiam quaerat ab, asperiores expedita cumque.Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, reprehenderit! Amet temporibus vitae magnam aspernatur eius numquam doloremque eos rem officiis, hic enim. Culpa aperiam quaerat ab, asperiores expedita cumque.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, reprehenderit! Amet temporibus vitae magnam aspernatur eius numquam doloremque eos rem officiis, hic enim. Culpa aperiam quaerat ab, asperiores expedita cumque.Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, reprehenderit! Amet temporibus vitae magnam aspernatur eius numquam doloremque eos rem officiis, hic enim. Culpa aperiam quaerat ab, asperiores expedita cumque.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, reprehenderit! Amet temporibus vitae magnam aspernatur eius numquam doloremque eos rem officiis, hic enim. Culpa aperiam quaerat ab, asperiores expedita cumque.Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, reprehenderit! Amet temporibus vitae magnam aspernatur eius numquam doloremque eos rem officiis, hic enim. Culpa aperiam quaerat ab, asperiores expedita cumque.</p>
        </div>    
        <div id="about-2">
            <div class="content-box-lg">
                <div class="continer">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="about-item text-center">
                                <i class="uil uil-book-open"></i>
                                <h3>MISSION</h3>
                                <hr>
                                <p>To impart innovative and quality education of global-standard, to produce skilled human power.
                                To foster educational programmes in various disciplines based on interaction with society and industry.
                                To review and design co-curricular activities to develop the overall personality of the students.
                                To impart innovative and quality education of global-standard, to produce skilled human power.
                                To foster educational programmes in
                                </p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="about-item text-center">
                                <i class="uil uil-globe"></i>
                                <h3>VISSION</h3>
                                <hr>
                                <p>Rani Channamma University Belagavi will be an exemplar of academic excellence, aimed at to disseminate and advance knowledge in a globalizing world where convergence of inter-disciplinary studies and research is emerging to create a new pool of world-class manpower for the well being of the society.</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="about-item text-center">
                                <i class="uil uil-edit-alt"></i>
                                <h3>ACHIEVEMENTS</h3>
                                <hr>
                                <p>To contribute to the knowledge society through research, publications and applications.
                                To promote popular awareness for strengthening the civil society.
                                To provide inputs for public policy making.
                                To promote popular awareness for strengthening the civil society.
                                achievements
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
