{% extends 'layout/main.html' %}
{% load static %}
{% block content %}

<div class="container m-3">
    <div class="row">
            {% for image in images %}
                <div class="col-md-6">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="category-image">
                                <img src="{{ image.img.url }}" alt="" class="w-100"/>
                            </div>
                             <h3 class="text-center text-black mt-2"><b>{{ image.title }}</b></h4>
                        </div>
                    </div>
                </div>
            {% endfor %}
    </div>     
</div>
{% endblock %}


