
{% comment %} {% include 'inc/sidebar.html' %} {% endcomment %}
<link rel="stylesheet" href="static/css/home-carousel.css">


    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="static/img/carousel1.jpg" class="d-block w-100" alt="corousel-img">
        </div>
        <div class="carousel-item">
          <img src="static/img/carousel3.jpg" class="d-block w-100" alt="corousel-img">
        </div>
        <div class="carousel-item">
          <img src="static/img/carousel4d.jpg" class="d-block w-100" alt="corousel-img">
        </div>
      </div>
    </div>
      
    
