{% if student %}
    <div>
        <h2>Welcome, {{ student.user.first_name }} {{ student.user.last_name }}</h2>
        <img src="{{ student.profile_picture.url }}" alt="Profile Picture"
             style="width: 150px; height: 150px; object-fit: cover; border-radius: 50%;" />
    </div>
    <a class="nav-link" href="{% url 'results' %}">Results</a>
    <a class="nav-link" href="{% url 'logout' %}">logout</a>
{% else %}
    <p>Please log in to view your profile.</p>
    <a class="nav-link" href="{% url 'login' %}">Login</a>
    <a class="nav-link" href="{% url 'signup' %}">Sign Up</a>
{% endif %} 



