{% extends 'layout/main.html' %}

{% block content %}
<div class="container my-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card shadow-lg">
                <div class="card-body">
                    <h1 class="card-title text-center mb-4  "><strong>RCUB TIMETABLE</strong></h1>
                    
                    <ul class="list-group list-group-flush ms-5">
                        <li class="list-group-item">
                            <strong>Bachelor of Science (BSc)</strong> 
                            <span class="ms-2">Not Announced</span>
                        </li>
                        <li class="list-group-item">
                            <strong>Bachelor of Camputer Application (BCA)</strong> 
                            <span class="ms-2">Not Announced</span>
                        </li>
                        <li class="list-group-item">
                            <strong>Bachelor of Commerce (B.COM)</strong> 
                            <span class="ms-2">Not Announced</span>
                        </li>
                        <li class="list-group-item">
                            <strong>Bachelor of Arts (BA)</strong> 
                            <span class="ms-2">Not Announced</span>
                        </li>
                    </ul>
                    
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}