{% load static %}

<body>
    <div class="main-wrap">
        <div class="footer-wrap">
            <div class="footer-wrap12">
                <div class="footer-section">
                    <h1>Links</h1>
                    <a href="{% url 'index' %}">Home</a>
                    <a href="{% url 'contact' %}">Contact</a>
                    <a href="{% url 'working' %}">Career</a>
                    <a href="{% url 'contact' %}">Help</a>
                </div>
                <div class="footer-section">
                    <h1>Location</h1>
                    <a href="https://www.bing.com/maps?ty=18&q=rani+channamma+university%2C+belagavi+location&ppois=16.00457191467285_74.50377655029297_rani+channamma+university%2C+belagavi+location_%7E&cp=16.006069%7E74.504063&lvl=14.7&v=2&sV=1&FORM=SNAPST" target="_blank"><i class="uil uil-location-point">Terdal<br>Bagalkote Karnataka</i></a>
                </div>
                <div class="footer-section">
                    <h1>Contact</h1>
                    <a href="#"><i class="uil uil-phone">Phone Directory</i></a>
                </div>
                <div class="footer-section">
                    <h1>Complaints</h1>
                    <a href="mailto:asbadarsh21@gmail.com"><i class="uil uil-envelopes"></i>Mail us</i></a>
                </div>
            </div>
            <div class="footer-wrap-2">
                <div class="line">
                    <div class="social-link">
                    <a href="https://www.youtube.com/channel/UCtrcypQvMVC8utr7xWZ2x-w/videos" target="_blank"><i class="uil uil-youtube"></i></a>
                    <a href="#"><i class="uil uil-instagram"></i></a>
                    <a href="https://twitter.com/RCUB_University"><i class="uil uil-twitter"></i></a>
                    <a href="mailto:asbadarsh21@gmail.com"><i class="uil uil-envelope"></i></a>
                    <a href="https://www.linkedin.com/school/rani-channamma-university-belagavi/ "><i class="uil uil-linkedin"></i></a>
                    <a href="https://www.facebook.com/people/RCUBInfo/100064197997180/" target="_blank"><i class="uil uil-facebook"></a></i>
<!--                    <a href="#"><i class="uil uil-google"></a></i>-->
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="last-box">
            <a href="https://adarshbilimisi.pythonanywhere.com/" target="_blank" style="color:white;">&copy;copyrights 2024 adarshbilimisi</a>
        </div>
    </div>
